@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-style: none;
}

a {
  color: #333333;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0;
}

ul,
li {
  list-style: none;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #444;
  padding-top: 81px;
}

/* 공통 요소 */
.clearfix::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

.container {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* 안내창 */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9999999;
}

.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 550px;
  height: 300px;
  background: #fff;
  border-radius: 30px 0 30px 0;
  padding: 50px;
}

.modal__txt-1 {
  position: relative;
  display: block;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  color: #000;
  margin-bottom: 50px;
}

.modal__txt-2 {
  position: relative;
  display: block;
  font-size: 16px;
  font-weight: 100;
  line-height: 1.4;
  text-align: center;
  color: #000;
}

.modal__close {
  position: absolute;
  right: 50px;
  bottom: 30px;
  display: block;
  font-size: 14px;
  font-weight: 100;
  line-height: 40px;
  text-align: center;
  border: 0;
  border-radius: 4px;
  color: #fff;
  background: #000;
  padding: 0 30px;
  margin-top: 30px;
  cursor: pointer;
}

.wrap {
  position: relative;
  display: block;
}

/* Header */
.header {
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 80px;
  overflow: hidden;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.2);
  z-index: 999999;
  transition: all 0.5s;
}

.header--open {
  height: 365px;
}

.header-bg {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 80px;
  background: #fff;
  box-sizing: content-box;
  border-bottom: 1px solid #e8e8e8;
}

.header__logo {
  position: absolute;
  left: 47px;
  top: 20px;
  display: block;
  width: 150px;
  height: 39px;
  background: url("../images/logo.png") no-repeat center;
}

.gnb {
  position: absolute;
  left: 0;
  top: 80px;
  display: block;
  width: 100%;
  font-size: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
}

.gnb-dep-1 {
  display: inline-block;
  margin-top: -80px;
}

.gnb-dep-1 > li {
  display: block;
  float: left;
  width: 178px;
  text-align: left;
}

.gnb-dep-1 > li:last-child {
  width: auto;
}

.gnb-dep-1__menu {
  display: inline-block;
  font-size: 19px;
  font-weight: 500;
  line-height: 80px;
  color: #000;
}

.gnb-dep-1__menu:hover {
  color: #ed1c24;
}

.gnb-dep-2 {
  display: block;
  margin: 35px 0;
}

.gnb-dep-2 > li {
  display: block;
  text-align: left;
}

.gnb-dep-2__menu {
  display: block;
  font-size: 15px;
  font-weight: 100;
  line-height: 1.8;
  color: #fff;
}

.lang {
  position: absolute;
  top: 32px;
  right: 50px;
  display: block;
  font-size: 0;
}

.lang a {
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  color: #888;
  padding: 0 12px;
}

.lang a::after {
  content: "";
  position: absolute;
  right: 55px;
  top: 4px;
  width: 1px;
  height: 11px;
  background: #999;
}

.lang a em {
  font-style: normal;
  color: #000;
}

/* Visual */
.visual {
  position: relative;
  display: block;
  height: 910px;
  background: url("../images/img_visual01.png") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

.visual-txt-area {
  position: absolute;
  left: 266px;
  top: 182px;
}

.visual__tit {
  display: block;
  font-size: 70px;
  font-weight: 500;
  line-height: 77px;
  letter-spacing: -0.6px;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #fff;
  padding-top: 47px;
}

.visual__tit::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 60px;
  height: 5px;
  background: #ed1c24;
}

.visual__txt {
  position: relative;
  display: block;
  font-size: 21px;
  font-weight: 300;
  letter-spacing: -0.1px;
  color: #fff;
  margin-top: 43px;
}

.go-busi {
  position: absolute;
  bottom: 40px;
  left: 50%;
  display: block;
  width: 33px;
  height: 33px;
  font-size: 0;
  background: url("../images/bg_common.png") no-repeat;
  background-position: -122px 0;
}

/* Business */
.busi {
  position: relative;
  display: block;
  background-color: #f8f8f8;
  padding: 100px 0 133px 0;
}

.busi__tit {
  position: relative;
  display: block;
  font-size: 44px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  letter-spacing: -0.2px;
  color: #111;
  padding-bottom: 22px;
}

.busi__tit::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 37px;
  height: 4px;
  background: red;
}

.busi__desc {
  display: block;
  text-align: center;
  font-weight: 300;
  letter-spacing: -0.2px;
  padding: 24px 0 70px 0;
}

.busi-list {
  display: flex;
  justify-content: center;
}

.busi-box {
  display: block;
  width: 20%;
  height: 420px;
  background: url("../images/img_business.png") no-repeat;
  background-position-y: 0;
}

.busi-box-1 {
  background-position-x: 0;
}

.busi-box-2 {
  background-position-x: -240px;
}

.busi-box-3 {
  background-position-x: -480px;
}

.busi-box-4 {
  background-position-x: -720px;
}

.busi-box-5 {
  background-position-x: -960px;
}

.busi-box a {
  display: block;
  width: 100%;
  height: 100%;
}

.busi-box a:hover {
  background: #f48025;
  transition: all 0.3s;
}

.busi__txt {
  display: block;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  color: #fff;
  padding: 98px 0 85px 0;
}

.busi__icon {
  position: relative;
  display: block;
  background: url("../images/bg_common.png") no-repeat;
  margin: 0 auto;
  opacity: 0;
}

.busi-box a:hover .busi__icon {
  opacity: 1;
  transition: all 0.3s;
}

.busi__icon--1 {
  width: 123px;
  height: 112px;
  background-position: -168px 0;
}

.busi__icon--2 {
  width: 123px;
  height: 112px;
  background-position: -301px 0;
}

.busi__icon--3 {
  width: 130px;
  height: 106px;
  background-position: 0 -122px;
}

.busi__icon--4 {
  width: 130px;
  height: 111px;
  background-position: -140px -122px;
}

.busi__icon--5 {
  width: 102px;
  height: 105px;
  background-position: -280px -122px;
}

/* Board */
.board {
  position: relative;
  display: block;
  height: 480px;
}

.notice-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: #ec1c24;
}

.news-bg {
  position: absolute;
  left: 50%;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: #58595b;
}

.board .container {
  display: flex;
  justify-content: space-between;
  padding-top: 45px;
}

.board__tit {
  font-size: 32px;
  font-weight: 300;
  line-height: 47px;
  color: #fff;
  padding-bottom: 40px;
}

.board-list {
  width: 499px;
}

.notice .board-list {
  border-top: 1px solid #e77277;
}

.news .board-list {
  border-top: 1px solid #737475;
}

.board-list > li {
  padding: 24px 0;
}

.notice .board-list > li {
  border-bottom: 1px solid #e77277;
}

.news .board-list > li {
  border-bottom: 1px solid #737475;
}

.board-list > li > a {
  display: block;
  overflow: hidden;
}

.board__txt {
  display: block;
  float: left;
  width: 370px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #fff;
}

.board__more {
  display: block;
  float: right;
  width: 75px;
  height: 24px;
  font-size: 0;
  background: url("../images/bg_common.png") no-repeat;
  background-position: 0 -49px;
}

/* CS */
.cs {
  position: relative;
  display: block;
  background: #f8f8f8;
  padding: 60px 0 100px 0;
}

.cs .container {
  display: flex;
  height: 200px;
}

.cs-box {
  width: 50%;
  height: 100%;
  padding: 40px 56px;
}

.cs-box--1 {
  background: #fff url("../images/bg_faq.png") no-repeat 378px 50%;
  border-right: 1px solid #f8f8f8;
}

.cs-box--2 {
  background: #fff url("../images/bg_custom.png") no-repeat 429px 50%;
  border-left: 1px solid #f8f8f8;
}

.cs__tit {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.5;
  color: #000;
  margin-bottom: 15px;
}

.cs__desc {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: #444;
}

/* ABOUT US */
.about {
  position: relative;
  display: block;
  padding: 100px 0 96px 0;
}

.about-top {
  display: flex;
  height: 370px;
  margin-bottom: 80px;
}

.about-cont {
  width: 50%;
  padding-top: 25px;
}

.about__tit {
  font-size: 44px;
  font-weight: 700;
  line-height: 65px;
  color: #111;
  margin-bottom: 40px;
}

.about-box {
  position: relative;
  padding-left: 100px;
}

.about-box::before {
  content: "";
  position: absolute;
  left: 0;
  top: 18px;
  width: 37px;
  height: 5px;
  background: #ed1c24;
}

.about__msg {
  font-size: 21px;
  font-weight: 500;
  line-height: 31px;
  color: #111;
  margin-bottom: 20px;
}

.about__desc {
  font-size: 15px;
  font-weight: 300;
  line-height: 22px;
  color: #444;
}

.about-img {
  width: 600px;
  height: 370px;
  background: url("../images/img_about.png") no-repeat center;
  background-size: cover;
}

.about-menu-area {
  display: flex;
  justify-content: space-between;
  width: 723.13px;
  margin: 0 auto;
}

.about__menu {
  width: 103px;
  font-size: 22px;
  font-weight: 500;
  line-height: 33px;
  text-align: center;
  vertical-align: bottom;
  white-space: nowrap;
  color: #111;
  padding-top: 130px;
}

.about__menu--1 {
  background: url("../images/bg_icon.png") no-repeat 0 0;
}

.about__menu--2 {
  background: url("../images/bg_icon.png") no-repeat -115px 0;
}

.about__menu--3 {
  background: url("../images/bg_icon.png") no-repeat -232px 0;
}

/* Footer */
.footer {
  position: relative;
  display: block;
  height: 168px;
  background: #4e4e4e;
}

.footer .container {
  display: flex;
  padding-top: 50px;
}

.footer__logo {
  display: block;
  width: 122px;
  height: 28px;
  background: url("../images/logo_footer.png") no-repeat center;
  margin-right: 135px;
}

.footer__txt {
  font-size: 13px;
  font-weight: 300;
  line-height: 23px;
  white-space: nowrap;
  color: #c3c3c3;
  margin-bottom: 5px;
}

.f-right .f-txt:last-child {
  margin-bottom: 0;
}
