@charset "utf-8";
@import url('notosanskr/NotoSansKR.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline-style: none;
}

html {
    font-size: 10px;
}

a {
    color: #333333;
    text-decoration: none;
}

img {
    vertical-align: middle;
    border: 0;
}

ul,
li {
    list-style: none;
}

body {
    font-family: 'Noto Sans KR';
    font-weight: 300;
    color: #444;
    font-size: 1.6rem;
    line-height: 1.6;
    letter-spacing: 0.1rem;
    min-width: 120rem;

    /* header가 fixed되면서 높이 8rem이 없어짐 */
    /* 그래서 visual이 body로 올라감 */
    padding-top: 8rem;
}

/* 공통 요소 */
.clearfix::after {
    content: '';
    position: relative;
    display: block;
    width: 100%;
    clear: both;
}

.pagew {
    position: relative;
    display: block;
    width: 120rem;
    margin: 0 auto;
}

/* 안내창 */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9999999;
}

.modal-cont {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 55rem;
    height: 30rem;
    background: #fff;
    border-radius: 3rem 0 3rem 0;
    padding: 5rem;
}

.modal-cont p {
    position: relative;
    display: block;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    color: #000;
    margin-bottom: 5rem;
}

.modal-cont span {
    position: relative;
    display: block;
    font-size: 1.6rem;
    font-weight: 100;
    line-height: 1.4;
    text-align: center;
    color: #000;
}

.modal-cont button {
    position: relative;
    display: inline-block;
    float: right;
    color: #fff;
    background: #000;
    font-size: 1.4rem;
    font-weight: 100;
    line-height: 4rem;
    text-align: center;
    cursor: pointer;
    border: 0;
    border-radius: .4rem;
    margin-top: 3rem;
    padding: 0 3rem;
}

.wrap {
    position: relative;
    display: block;
}

/* 상단 */
.header {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    z-index: 999999;
    width: 100%;
    height: 8rem;

    /* 서브 메뉴의 보이는 영역 조절 */
    overflow: hidden;

    /*border-bottom: 0.1rem solid #e8e8e8;*/
    /*background: #fff;*/
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.2);

    transition: height 0.5s;
}

.header-bg {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 8rem;
    background: #fff;
    border-bottom: 1px solid #e8e8e8;
}

.header_open {
    height: 40rem;
}

.logo {
    position: absolute;
    top: 2rem;
    left: 5rem;
    display: block;
    width: 15rem;
    height: 3.9rem;
    background: url('../images/logo.png') no-repeat center;
}

.gnb {
    position: absolute;
    top: 8rem;
    left: 0;
    display: block;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    font-size: 0;
    text-align: center;
}

.depth1 {
    position: relative;
    display: inline-block;
    margin-top: -8rem;
}

.depth1>li {
    position: relative;
    display: block;
    float: left;
    width: 18rem;
    text-align: left;
}

.mainmenu {
    position: relative;
    display: block;
    color: #000;
    font-size: 1.9rem;
    font-weight: 500;
    line-height: 8rem;
}

.mainmenu:hover {
    color: #ed1c24;
}

.depth2 {
    position: relative;
    display: block;
    padding: 4rem 0;
}

.depth2>li {
    position: relative;
    display: block;
    text-align: left;
}

.submenu {
    position: relative;
    display: block;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 100;
    line-height: 3rem;
}

/* 포커스 유지 */
.depth1>li:hover>.mainmenu {
    color: #ed1c24;
}

.lang {
    position: absolute;
    top: 2.8rem;
    right: 3.0rem;
    display: block;
}

.lang-list>li {
    position: relative;
    display: block;
    float: left;
}

.lang-list>li::after {
    content: '';
    position: absolute;
    top: 0.6rem;
    right: 0;
    display: block;
    width: 0.1rem;
    height: 1.3rem;
    background: #999;
}

.lang-list>li:last-child::after {
    display: none;
}

.lang-list>li>a {
    position: relative;
    display: block;
    margin: 0 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #888;
}

.lang-focus {
    color: #000 !important;
}

/* 비주얼 */
.visual {
    position: relative;
    display: block;
    height: 91rem;
    overflow: hidden;
    background: url('../images/img_visual01.png') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

.visual .pagew {
    padding-top: 18rem;
}

.visual-title {
    position: relative;
    display: block;
    font-size: 7rem;
    font-weight: 500;
    color: #fff;
    line-height: 7rem;
    padding-top: 5.5rem;
}

.visual-title::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 6rem;
    height: 0.5rem;
    background: #ed1c24;
}

.visual-title span {
    position: relative;
    display: block;
    margin-bottom: 2rem;
}

.visual-txt {
    position: relative;
    display: block;
    font-size: 2.1rem;
    font-weight: 100;
    color: #fff;
    margin-top: 4.2rem;
}

.move-cate {
    position: absolute;
    bottom: 4rem;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 3.3rem;
    height: 3.3rem;
    font-size: 0;
    background: url('../images/bg_common.png') no-repeat;
    background-position: -12.2rem 0;
}

/* 사업분야 */
.cate {
    position: relative;
    display: block;
    padding-top: 12rem;
    padding-bottom: 13.5rem;
}

.cate-tit {
    position: relative;
    display: block;
    font-size: 4.4rem;
    color: #111;
    font-weight: 500;
    text-align: center;
    line-height: 1;
    padding-bottom: 2.5rem;
}

.cate-tit::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 3.7rem;
    height: 0.4rem;
    background: red;
}

.cate-desc {
    position: relative;
    display: block;
    text-align: center;
    font-weight: 100;
    margin-top: 2.5rem;
    margin-bottom: 6.5rem;
}

.cate-list {
    position: relative;
    display: block;
    overflow: hidden;
}

.cate-list>li {
    position: relative;
    display: block;
    float: left;
    width: 20%;
    height: 42rem;
    background: url('../images/img_business.png') no-repeat;
    background-position-y: 0;
}

.cate-list>li:nth-child(1) {
    background-position-x: 0;
}

.cate-list>li:nth-child(2) {
    background-position-x: -24rem;
}

.cate-list>li:nth-child(3) {
    background-position-x: -48rem;
}

.cate-list>li:nth-child(4) {
    background-position-x: -72rem;
}

.cate-list>li:nth-child(5) {
    background-position-x: -96rem;
}

.cate-list>li>a {
    position: relative;
    display: block;
    height: 100%;
    background: rgba(243, 127, 37, 0.0);
    transition: background 0.5s;
}

.cate-list>li>a:hover {
    background: rgba(243, 127, 37, 1.0);
}

.cate-txt {
    position: relative;
    display: block;
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-weight: 100;
    padding-top: 10rem;
}

.cate-img {
    position: relative;
    display: block;
    background: url('../images/bg_common.png') no-repeat;
    margin: 0 auto;
    margin-top: 8.5rem;
    opacity: 0.0;
    transition: opacity 0.5s;
}

.cate-list>li>a:hover .cate-img {
    opacity: 1.0;
}

.cate-list>li:nth-child(1) .cate-img {
    width: 12.3rem;
    height: 11.2rem;
    background-position: -16.8rem 0;
}

.cate-list>li:nth-child(2) .cate-img {
    width: 12.3rem;
    height: 11.2rem;
    background-position: -30.1rem 0;
}

.cate-list>li:nth-child(3) .cate-img {
    width: 13rem;
    height: 10.6rem;
    background-position: 0 -12.2rem;
}

.cate-list>li:nth-child(4) .cate-img {
    width: 13rem;
    height: 11.1rem;
    background-position: -14.0rem -12.2rem;
}

.cate-list>li:nth-child(5) .cate-img {
    width: 10.2rem;
    height: 10.5rem;
    background-position: -28rem -12.2rem;
}

/* 게시판 */
.board {
    position: relative;
    display: block;
    padding: 5.5rem 0;

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ec1c24+50,58595b+50 */
    background: #ec1c24;
    /* Old browsers */
    background: -moz-linear-gradient(left, #ec1c24 50%, #58595b 50%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ec1c24 50%, #58595b 50%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ec1c24 50%, #58595b 50%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ec1c24', endColorstr='#58595b', GradientType=1);
    /* IE6-9 */
}

.board .pagew {
    display: table;
    table-layout: fixed;
}

.board-box {
    position: relative;
    display: table-cell;
    width: 50%;
}

.board-box h3 {
    position: relative;
    display: block;
    width: 50rem;
    color: #fff;
    font-size: 3.2rem;
    font-weight: 100;
    line-height: 1;
    margin-bottom: 5rem;
}

.board-list {
    position: relative;
    display: block;
    width: 50rem;
    border-top: 0.1rem solid rgba(255, 255, 255, 0.5);
}

.board-list>li {
    position: relative;
    display: block;
    padding: 2.4rem 0;
    border-bottom: 0.1rem solid rgba(255, 255, 255, 0.5);
}

.board-list>li>a {
    position: relative;
    display: block;
    overflow: hidden;
}

.board-list>li>a>span {
    line-height: 2.3rem;
}

.pl-100 {
    padding-left: 10rem;
}

.board-txt {
    position: relative;
    display: block;
    float: left;
    width: 37rem;
    color: #fff;
    font-weight: 100;
    line-height: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.board-more {
    position: relative;
    display: block;
    float: right;
    width: 7.5rem;
    font-size: 0;
    height: 2.3rem;
    background: url('../images/bg_common.png') no-repeat;
    background-position: 0 -4.9rem;
}

/* 고객센터 */
.cs {
    position: relative;
    display: block;
    background: #f8f8f8;
    padding-top: 6rem;
    padding-bottom: 10rem;
}

.cs .pagew {
    display: table;
    table-layout: fixed;
}

.cs-box {
    display: table-cell;
    width: 50%;
    padding: 4rem 5.6rem;
}

.cs-bg1 {
    background: #fff url('../images/bg_faq.png') no-repeat;
    background-position: 38rem 50%;
    border-right: 0.1rem solid #f8f8f8;
}

.cs-bg2 {

    background: #fff url('../images/bg_custom.png') no-repeat;
    background-position: 43rem 50%;
    border-left: 0.1px solid #f8f8f8;
}

.cs-tit {
    position: relative;
    display: block;
    font-size: 3rem;
    font-weight: 500;
    color: #000;
    line-height: 1;
    letter-spacing: 0.1rem;
    margin-bottom: 1.5rem;
}

.cs-desc {
    position: relative;
    display: block;
    color: #444;
    font-size: 1.6rem;
    font-weight: 100;
}

/* About */
.about {
    position: relative;
    display: block;
    background: #fff;
    padding: 10rem 0;
}

.about-top {
    position: relative;
    display: block;
    margin-bottom: 5.5rem;
}

.about-top>div {
    position: relative;
    display: block;
    float: left;
    width: 50%;
    height: 37rem;
    overflow: hidden;
}

.about-cont {
    position: relative;
    display: block;
    padding-top: 2.5rem;
}

.about-tit {
    position: relative;
    display: block;
    color: #111;
    font-size: 4.4rem;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 40px;
}

.about-box {
    position: relative;
    display: block;
    padding-left: 10rem;
    padding-right: 2.5rem;
}

.about-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 3.7rem;
    height: 0.5rem;
    background: #ed1c24;
}

.about-desc {
    position: relatived;
    display: block;
    color: #111;
    font-size: 2.1rem;
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 2rem;
}

.about-txt {
    position: relative;
    display: block;
    color: #444;
    font-size: 1.5rem;
    font-weight: 100;
}

.about-img {
    background: url('../images/img_about.png') no-repeat center;
    background-size: cover;
}

.about-bottom {
    position: relative;
    display: block;
    text-align: center;
    font-size: 0;
}

.about-bottom a {
    position: relative;
    display: inline-block;
    width: 10.3rem;
    color: #111;
    font-size: 2.2rem;
    font-weight: 500;
    padding-top: 13rem;
    white-space: nowrap;
}

.about-bottom a:nth-child(1) {
    background: url('../images/bg_icon.png') no-repeat;
    background-position: 0 0;
}

.about-bottom a:nth-child(2) {
    background: url('../images/bg_icon.png') no-repeat;
    background-position: -11.5rem 0;
    margin-left: 21.5rem;
}

.about-bottom a:nth-child(3) {
    background: url('../images/bg_icon.png') no-repeat;
    background-position: -23.2rem 0;
    margin-left: 21.5rem;
}

/* 하단 */
.footer {
    position: relative;
    display: block;
    padding: 5rem 0;
    background: #4e4e4e;
}

.f-left {
    position: relative;
    display: block;
    float: left;
    width: 26rem;
    height: 2.8rem;
}

.f-right {
    position: relative;
    display: block;
    float: left;
}

.f-txt {
    position: relative;
    display: block;
    white-space: nowrap;
    color: #c3c3c3;
    font-size: 1.3rem;
    font-weight: 100;
    margin-bottom: 0.5rem;
}

.f-right .f-txt:last-child {
    margin-bottom: 0;
}